.divClass h1 {color: lightseagreen;}
#thirdDiv ul li img {width: 400px;}
#thirdDiv {width: 500px; height: 600px; background-color: lightcoral; padding: 50px; border: 5px outset cadetblue;}
#spanId {font-size: 18px; margin: 50px;}